<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css" />
		<style>
		.label a {
			color:white;
			text-decoration:none;
		}

		.media {
			overflow: visible;
		}

		.post-flag {
			position:relative;
		}

		.post-flag .btn-group {
			position:absolute;
			left:-70px;
		}

		.post-flag .btn-group a.btn {
			width:14px;
		}

		.tag {
			margin-right:1ex;
		}
		</style>
{% raw %}
		<script type="text/x-handlebars" data-template-name="tumblr-blog-tmpl">
			<div class="row">
				<div class="page-header span4" data-spy="affix" data-offset-top="0">
					<h1><a {{action showHome href=true}}>{{controller.content.title}}</a>
						<small>{{&controller.content.description}}</small></h1>
				</div>
				<div class="span7 offset5">
					{{outlet}}
				</div>
			</div>
		</script>

		<script type="text/x-handlebars" data-template-name="tumblr-posts-tmpl">
			{{#if controller.content.length}}
				{{each controller.content itemViewClass="Tumblr.PostView"}}
				{{view Bootstrap.Pager contentBinding="Tumblr.app.router.pagerController.content" }}
			{{else}}
			<div style="margin-top:15px;">
				{{view Bootstrap.ProgressBar isStriped=true isAnimated=true progress=100}}
			</div>
			{{/if}}
		</script>

		<script type="text/x-handlebars" data-template-name="tumblr-postdetail-tmpl">
			<div style="margin-top:15px;">
				{{#if controller.content.type}}
					{{view Tumblr.PostView contentBinding="controller.content"}}
				{{else}}
					{{view Bootstrap.ProgressBar isStriped=true isAnimated=true progress=100}}
				{{/if}}
			</div>
		</script>

		<script type="text/x-handlebars" data-template-name="tumblr-post-tmpl">
			{{template "tumblr-post-flag-tmpl"}}

		    {{#text}}
		        <h3>{{&view.content.title}}</h3>
		        {{&view.content.body}}
		    {{/text}}

		    {{#photo}}
	            {{#each view.content.photos}}
					<img {{bindAttr src="this.photo_url_500"}}>
	            {{/each}}
	            <div class="caption">{{&view.content.caption}}</div>
		    {{/photo}}

		    {{#quote}}
		        <blockquote>{{view.content.text}}</blockquote>
		        {{&view.content.source}}
		    {{/quote}}

		    {{#link}}
		        <h3><a {{bindAttr href="view.content.url"}}>{{&view.content.title}}</a></h3>
		        {{&view.content.description}}
		    {{/link}}

		    {{#chat}}
		        <h3>{{view.content.title}}</h3>
		       {{#collection tagName="dl" contentBinding="view.content.dialogue"}}
		            <dt>{{view.content.name}}</dt>
		            <dd>{{view.content.phrase}}</dd>
		        {{/collection}}
		    {{/chat}}

		    {{#audio}}
		         {{&view.content.player}}
		         <dl class="dl-horizontal">
		         	{{#if view.content.caption}}
		            <dt>Caption</dt>
		                 <dd>{{&view.content.caption}}</dd>
		            {{/if}}
		            {{#if view.content.plays}}
		            <dt>Plays</dt>
		                 <dd>{{view.content.plays}}</dd>
		            {{/if}}
		            {{#if view.content.artist}}
		            <dt>Artist</dt>
		                 <dd>{{view.content.artist}}</dd>
		            {{/if}}
		            {{#if view.content.album}}
		             <dt>Album</dt>
		                 <dd>{{view.content.album}}</dd>
		            {{/if}}
		            {{#if view.content.track_name}}
		            <dt>Track Name</dt>
		                 <dd>{{view.content.track_name}}</dd>
		            {{/if}}
		            {{#if view.content.track_number}}
		            <dt>Track Number</dt>
		                 <dd>{{view.content.track_number}}</dd>
		            {{/if}}
		            {{#if view.content.year}}
		            <dt>Year</dt>
		                 <dd>{{view.content.year}}</dd>
		            {{/if}}
		    {{/audio}}

		    {{#video}}
	            {{&view.content.video_embed_500}}
	            {{&view.content.caption}}
		    {{/video}}

		    {{template "tumblr-post-utils-tmpl"}}
		</script>

		<script type="text/x-handlebars" data-template-name="tumblr-post-utils-tmpl">
			<dl class="dl-horizontal">
			  {{#if view.content.tags.length}}
				  <dt>Tags</dt>
				  	<dd>
						{{each view.content.tags itemViewClass="Tumblr.TagView"}}
				  	</dd>
				{{/if}}
			  	<dt>Permalink</dt>
			  		<dd><a {{action showPost view.content href=true}}>{{view.content.date}}</a>
			</dl>
			{{#unless view.content.is_detail}}<hr>{{/unless}}
		</script>

		<script  type="text/x-handlebars" data-template-name="tumblr-post-flag-tmpl">
			<div class="post-flag">
				<div class="btn-group btn-group-vertical">
			  		<a {{action showPost view.content href=true}} class="btn btn-inverse">
			  			<i class="icon-eye-open icon-white"></i></a>
			  		<a {{bindAttr href="view.content.reblogUrl"}} class="btn btn-inverse">
			  			<i class="icon-retweet icon-white"></i></a>
			  	</div>
			</div>
		</script>
{% endraw %}
	</head>
	<body class="container">
	<script type="text/javascript" src="/static/js-lib/jquery.js"></script>
	<script type="text/javascript" src="/static/js-lib/handlebars-1.0.0.beta.6.js"></script>
	<script type="text/javascript" src="/static/js-lib/ember-latest.min.js"></script>
	<script type="text/javascript" src="/static/js-lib/ember-rest.js"></script>
	<script type="text/javascript" src="/static/js-lib/ember-bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/ember-tumblr-lib.js"></script>
	<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-affix.js"></script>
	</body>
</html>